<header>
  <div class="titleBar">
    <div class="titleBarContent">
      <h2 *ngIf="location.path(); else elseBlock">{{location.path().replace('/', '').charAt(0).toUpperCase() + location.path().slice(2)}}</h2>
      <ng-template #elseBlock><h2>Dashboard</h2></ng-template>
    </div>
  </div>
</header>
<main>
  <div class="altNav" *ngIf="location.path() == '/receive' || location.path() == '/deliver'; else elseBlock2">
    <a class="altNavBtn" (click)="location.back()">
      <i class="material-icons">
        arrow_back
      </i>
    </a>
    <a class="altNavBtn" routerLink="/">
      <i class="material-icons">
        home
      </i>
    </a>
  </div>

  <ng-template #elseBlock2>
    <nav>
      <a routerLink="/">Dashboard</a>
      <a routerLink="/clients">Clients</a>
      <a routerLink="/cars">Cars</a>
      <a routerLink="/transactions">Transactions</a>
      <a routerLink="/statistics">Statistics</a>
      <a routerLink="/changelog">Change log</a>
    </nav>
  </ng-template>
  
  <router-outlet></router-outlet>
</main>
<div class="navBtns">
  <a class="navBtn" routerLink="/progress"><i class="material-icons">playlist_add_check</i></a>
  <a class="navBtn bigger" routerLink="/receive"><i class="material-icons">add</i></a>
</div>
<footer>
  <div class="footerContent">
      <h1>My workshop control: Sistema de control de talleres - Isaac Sauri</h1>
  </div>
</footer>




