<p>
  Este es el primer paso de la transacción, recibir un (carro), podremos seleccionar un usuario para rellena automaticamente sus datos, o tendremos acceso a crear uno nuevo, aca lo podrémos relacionar con un (Carro) previamente creado en la seccion carros y tambien se podrá crear uno nuevo, al guardarse se crea la transacción,
  adicionalmente se podrá incluir detalles de carro (como el estado en que fue dejado) y fotografias del carro, asi como los servicios que se le harán, esto podra crear una nota de recibido y se le podrá enviar al cliente por correo electrónico tomado de su informacion
</p>
